.root {
  --Violet-40: #c595ff;
}

body {
  padding: 1em;
}

.search-param-wrapper {
  margin: auto;
  display: grid;
  width: 500px;
  border: 2px;
  border-radius: 4px;
  box-shadow: 0px 0px 2px 2px grey;
  padding: 0.5em;
}
